.App {
  text-align: center;
}

.bg-light-grey{
  background-color: #00000029;
}

.content{
  margin-top: 40px;
  padding: 12px;
  width: 190px;
  height: 3000px;
}

.text1{
  top: 438px;
  left: 365px;
  width: 493px;
  height: 176px;
  text-align: left;
  font: normal normal 800 50px/80px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}


